:root{
    --cinza-principal: #CDCCD9;
    --amarelo-secundario: #F2D750;
    --ouro-contraste: #D9B54A;
    --marrom-contraste: #594B02;
    --cor-de-fundo: #221F26;
    --fonte-principal: 'Orbitron';
    --fonte-logo: 'Delicious Handrawn';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cinza-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--amarelo-secundario);
    border-radius: 3px;
    padding: 0.5em;
    color: var(--cor-de-fundo);
    display: block;
    text-decoration: none;
}

.container__botao_secundario{
    background-color: transparent;
    padding: 0.5em;
    border-radius: 3px;
    border: 3px solid var(--amarelo-secundario);
    color: var(--cinza-principal);
    display: block;
    text-decoration: none;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

strong {
    font-family: var(--fonte-logo);
    font-size: 40px;
    font-weight: 400;
    color: var(--ouro-contraste);
    text-shadow: 0 0.8px 0.8px rgb(0,0,0);
}