:root{
    --cinza-principal: #CDCCD9;
    --amarelo-secundario: #F2D750;
    --ouro-contraste: #D9B54A;
    --marrom-contraste: #594B02;
    --cor-de-fundo: #221F26;
    --fonte-principal: 'Orbitron';
    --fonte-logo: 'Monoton';
    --largura-do-botao: 25em;
    --botao-efeito:var(--marrom-contraste);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cinza-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.container__principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items:center;
    text-align:center;
    height: 100vh;
    display: grid;
    grid-template-columns: 43% 60%;
}

.container__botao{
    background-color: var(--amarelo-secundario);
    padding: 0.5em;
    border-radius: 3px;
    border: 3px solid var(--amarelo-secundario);
    color: var(--cor-de-fundo);
    display: block;
    text-decoration: none;
    margin: 1em auto;
    width: var(--largura-do-botao);
}

.container__botao_secundario{
    background-color: transparent;
    padding: 0.5em;
    border-radius: 3px;
    border: 3px solid var(--amarelo-secundario);
    color: var(--cinza-principal);
    display: block;
    text-decoration: none;
    margin: 1em auto;
    width: var(--largura-do-botao);
}

.container__titulo{
    font-size: 2.5em;
    font-weight: 700;
}

strong {
    font-family: var(--fonte-logo);
    font-size: 1em;
    font-weight: 100;
    color: var(--amarelo-secundario);
}

.container__imagem{
    margin: 1em 0;
    width: 40%;
}

.container__caixa{
    margin: 0 1em;
}

.container__secundario{
    align-items:center;
    text-align:center;
    height: 90vh;
    display: grid;
    grid-template-columns: 45% 60%;
    font-size: 2em;
    margin: 0 3em;
}

.secundario__imagem{
    width: 80%;
}

.container__secundario__invertido{
    align-items:center;
    text-align:center;
    height: 90vh;
    display: grid;
    grid-template-columns: 60% 45%;
    font-size: 2em;
    margin: 0 3em;
}

.secundario__imagem__invertido{
    width: 90%;
}

.secundario__botao{
    display: inline-block;
    width: auto;
    font-size: 0.8em;
}

.dispositivos{
    text-align: center;
    margin-top: 10em;
}

.dispositivos__titulo{
    font-size: 40px;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: var(--cinza-principal);
    margin: 5em 0;

}

.lista__item{
    font-size: 32px;
    color: var(--cinza-principal);
}

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 1em;
}

.lista__link a{
    text-decoration:none;
    color: var(--marrom-contraste);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 3em 1em;
}

.lista__link a:hover{
    color: var(--amarelo-secundario);
}

.container__botao:hover{
    background: var(--marrom-contraste);
    color: var(--ouro-contraste);
}

.container__botao_secundario:hover{
    background: var(--marrom-contraste);
    color: var(--ouro-contraste);
}

.container__imagem__mobile, .imagem__mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    .container__principal{
        display: block;
        background-image: none;
        height: 90vh;
    }

    .secundario__imagem__invertido{
        display: none;
    }

    .imagem__mobile{
        display: block;
    }
    
    .container__imagem__mobile{
        width: 80vw;
        margin: 0 auto;
    }
    
    .container__imagem__mobile, .dispositivos__lista, .rodape__lista, .container__secundario, .container__secundario__invertido{
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    
    .container__titulo{
        font-size: 2em;
    }

    .container__secundario, .container__secundario__invertido{
        font-size: 1.4em;
        height: 50vh;
    }

    .container__imagem{
        width: 50vw;
    }

    .container__caixa{
        margin: 0.5em auto;
    }

    .imagem__mobile{
        width: 80%;
        margin: 0 auto;
    }

    .container__botao, .container__botao_secundario{
        width: 70vw;
    }

    .dispositivos{
        margin-top: 0;
    }}

    .dispositivos__titulo, .lista__item{
        font-size: 1.5em;
    }

    .icone {
        width: 60vw;
    }
}